.grid-container {
  display: flex;
  width: 1000px;
  height: 1000px;
  flex-wrap: wrap;
}

.box {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.box.box--dead {
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar button {
  margin-right: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.toolbar button:hover {
  background-color: #c9c9c9;
}
